.container{
    width: 1920px;
    height: 4541px;
    overflow: hidden;
    background: #FFFFFF;
}

.header{
    width: Fixed (1,920px)px;
    height: Hug (60px)px;
}

.heading-1{
    width: Fill (1,920px)px;
    height: Hug (60px)px;
    padding: 16px 648.04px 16px 648.05px;
    background: #1A73E826;
    display: flex;
}

.text-1{
    font-family: "Inter", sans-serif;
    font-size: 16.88px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    width: 472px;
    height: 28px;
    color: #262626;
}

.text-2{
    width: Hug (123px)px;
    height: Hug (28px)px; 
    padding: 0px 8px 0px 8px;
    width: 123px;
    height: 28px;
    font-family: "Inter", sans-serif;
    font-size: 17.02px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    color: #1A73E8;
    border: none;
    background: transparent;
    white-space: nowrap;
    cursor: pointer;
}

.navbar{
    width: Fixed (1,920px)px;
    height: Hug (79.2px)px;
    top: 60px;
    padding: 9.6px 280px 9.6px 280px;
}

.lists{
    width: Fill (1,360px)px;
    height: Fill (60px)px;
    padding: 10px 0px 10px 0px;
    justify-content: space-between;
}

.inner-container{
    width: Fixed (560px)px;
    height: Hug (40px)px;
    gap: 32px;
    display: flex;
}

.btn-1{
    background: transparent;
    border: none;
    color: #1A73E8;
    width: Hug (125px)px;
    height: Hug (36.66px)px;
    cursor: pointer;
}

.btn-2{
    width:  116px;
    height: 40px;
    background: #1A73E8;
    color: white;
    padding: 10px;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
}

.inner-container-2{
    width: Fixed (800px)px;
    height: Hug (40px)px;
    gap: 32px;
    display: flex;
    margin-left: 300px;
    align-items: center;
}

.heading-2{
    width: Hug (87px)px;
    height: Hug (24px)px;
    width: 87px;
    height: 24px;
    font-family: "Inter",sans-serif;
    font-size: 14.75px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #1A202C;
}

.cont-3{
    width: Hug (173px)px;
    height: Hug (24px)px;
    gap: 32px;
}

.text-3{
    width: 74px;
    height: 24px;
    font-family: "Inter",sans-serif;
    font-size: 14.75px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #1A202C;
}

.text-4{
    width: 67px;
    height: 24px;
    font-family: "Inter",sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #1A202C;
}

.login{
    border-radius: 6px;
    background: #94A3B833;
    cursor: pointer;
    height: 24px;
    width: 50px;
    padding: 8px 18px 8px 18px;
    top: 60px;
    font-family: "Inter",sans-serif;
}

.tryfree {
    padding: 8px 18px 8px 18px;
    border-radius: 6px;
    background: #1A73E8;
    white-space: nowrap;
    font-family: "Inter",sans-serif;
    color: white;
    cursor: pointer;
    height: 24px;
    width: 90px;
}

.inner-cont-4{
    position: absolute;
    width: 797px;
    height: 63px;
    top: 179px;
    left: 561px;
    border-radius: 38px;
    background: #1A73E81C;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.refer-container{
    display: flex;
    flex-direction: column;
}
.refer{
    width: 127px;
    height: 35px;
    top: 193px;
    left: 613px;
    font-family: "Roboto",sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #1A73E8;
}

.ellipse{
    width: 6px;
    height: 6px;
    top: 228px;
    left: 673px;
    background: #1A73E8;
    border-radius: 50%;
    margin-left: 65px;
}

.benifits{
    width: 132px;
    height: 32px;
    top: 193px;
    left: 800px;
    font-family: "Roboto",sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #4B4B4B;
}

.faqs{
    width: 127px;
    height: 28px;
    top: 193px;
    left: 992px;
    gap: 0px;
    opacity: 0px;
    font-family: "Roboto",sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #4B4B4B;
}

.support{
    font-family: "Roboto",sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #4B4B4B;
    width: 127px;
    height: 28px;
    top: 193px;
    left: 1179px;
}

/* rectangle */
.rectangle{
    position: absolute;
    width: 1360px;
    height: 692px;
    top: 269px;
    left: 280px;
    border-radius: 29px;
    background: #EEF5FF;
    box-shadow: 0px 4px 65px 1px #00072B36;
}

.rect-img{
    width: 814px;
    height: 725px;
    top: 0px;
    margin-left: 500px;
    z-index: 1;
    position: relative;
}

.money1{
    width: 157px;
    height: 87px;
    top: 0px;
    left: 1170px;
    position: absolute;
}

.money2{
    position: absolute;
    width: 157px;
    height: 157px;
    top: 280px;
    left: 1185px;
}

.money3{
    width: 157px;
    height: 157px;
    top: 3px;
    left: 705px;
    position: absolute;
}

.money4{
    width: 157px;
    height: 157px;
    top: 490px;
    left: 545px;
    position: absolute;
    z-index: 1;
}

.money5{
    width: 157px;
    height: 87px;
    top: 0px;
    left: 0px;
    position: absolute;
}

.grid-text{
    width: 502px;
    height: 367px;
    top: 106px;
    left: 35px;
    position: absolute;
}

.t-1{
    width: 502px;
    height: 190px;
    top: 396px;
    left: 325px;
    font-family: "Roboto",sans-serif;
    font-size: 88px;
    font-weight: 700;
    line-height: 88px;
    text-align: left;
    color: #1A202C;
}

.t-2{
    width: 415px;
    height: 140px;
    top: 623px;
    left: 325px;
    font-family: "Roboto",sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 65px;
    text-align: left;
    margin-top: 30px;
}

.rs{
    font-family: "Roboto",sans-serif;
    font-size: 54px;
    font-weight: 700;
    line-height: 65px;
    text-align: left;
    color: #1A73E8;
}

.btn-3{
    width: 192px;
    height: 54px;
    top: 824px;
    left: 325px;
    margin-top: 70px;
    padding: 15px 52px 15px 52px;
    border-radius: 8px;
    background: #1A73E8;
    cursor: pointer;
    border: none;
    color: white;
}

/* box-circles */
.circles-container{
    width: 1934px;
    height: 785px;
    top: 1006px;
    left: -50px;
    background: #EEF5FF;
}

.circles-images{
    width: 1387px;
    height: 491px;
    top: 1010px;
    left: 0px;
    position: absolute;
}
.c-1{
    width: 321px;
    height: 59px;
    top: 1061px;
    left: 799px;
    font-family: "Roboto",sans-serif;
    font-size: 27.66px;
    font-weight: 600;
    line-height: 43px;
    text-align: center;
    position: absolute;
    z-index: 1;
    margin-top: 30px;
}

.c-2{
    font-family: "Roboto",sans-serif;
    font-size: 27.66px;
    font-weight: 600;
    line-height: 43px;
    text-align: center;
    color: #1A73E8;
}

.c1{
    width: 88px;
    height: 66.96px;
    top: 1374px;
    left: 375px;
    color: #1A73E8;
    position: absolute;
}

.c2{
    width: 65.11px;
    height: 67.38px;
    top: 1374px;
    left: 932px;
    position: absolute;
}

.c3{
    width: 65px;
    height: 67.25px;
    top: 1374px;
    left: 1465px;
    position: absolute;
}

.cct1{
    width: 193px;
    height: 88px;
    top: 1520px;
    left: 340px;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #000000;
    position: absolute;
    z-index: 1;
}

.cct2{
    width: 193px;
    height: 88px;
    top: 1520px;
    left: 880px;
    gap: 0px;
    opacity: 0px;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    z-index: 1;
    color: #000000;
    position: absolute;
}

.cct3{
    width: 193px;
    height: 88px;
    top: 1520px;
    left: 1400px;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #000000;
    position: absolute;
}

.btn-4{
    width: 236px;
    height: 64px;
    top: 1709px;
    left: 842px;
    padding: 20px 72px 20px 72px;
    border-radius: 8px;
    background: #1A73E8;
    position: absolute;
    color: white;
    border: none;
    cursor: pointer;
}

/* boxes */
.b-1{
    width: 584px;
    height: 59px;
    top: 1912px;
    left: 672px;
    gap: 0px;
    opacity: 0px;
    font-family: "Roboto",sans-serif;
    font-size: 27.66px;
    font-weight: 600;
    line-height: 43px;
    text-align: center;
    position: absolute;
}

.b-2{
    font-family: "Roboto",sans-serif;
    font-size: 27.66px;
    font-weight: 600;
    line-height: 43px;
    text-align: center;
    color: #1A73E8;
}

.enrolled{
    width: 125.18px;
    height: 17px;
    top: 2004px;
    left: 1457px;
    font-family: "Roboto",sans-serif;
    position: absolute;
}

.toggele{
    width: 34.18px;
    height: 17px;
    top: 2004px;
    left: 1548px;
    border-radius: 45px;
    border: 1.5px solid black;
    position: absolute;
}
.ellipse-2{
    width: 11.15px;
    height: 11.15px;
    top: 2006.92px;
    left: 1567.38px;
    position: absolute;
    border: 1.5px solid #3C4852;
    border-radius: 45px;
    background: #1A73E8;
}

/* tables */
.tables-container{
    width: 270px;
    height: 572px;
    top: 2037px;
    left: 351px;
    position: absolute;
}

.d-1{
    width: 260px;
    height: 50px;
    top: 2037px;
    left: 351px;
    border-radius: 8px 8px 0px 0px;
    background: #1A73E8;
    box-shadow: 0px 1px 24.4px 1px #00000029;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
}

.d-2{
    width: 260px;
    height: 522px;
    top: 2087px;
    left: 351px;
    border-radius: 0px 0px 14px 14px;
    background: #FFFFFF;
    box-shadow: 0px 1px 24.4px 1px #00000029;
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
}

.d-3{
    width: 120.5px;
    height: 27px;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    color: black;
    white-space: nowrap;
    color: white;
    padding: 2px;
}

.arw-1{
    width: 16px;
    height: 16px;
    top: 2056px;
    left: 594px;
    padding: 1.5px 4.5px 1.5px 4.5px;
    color: white;
    font-weight: bold;
}

.arw-2{
    width: 16px;
    height: 16px;
    top: 2056px;
    left: 594px;
    padding: 1.5px 4.5px 1.5px 4.5px;
    color: #1A202C;
    font-weight: bold;
}

.flexed{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line-1{
    width: 202px;
    height: 43px;
    top: 2098px;
    left: 367px;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    color: #3C4852;
    margin-top: 18px;
}

.bordered{
    width: 227px;
    top: 2154.5px;
    left: 371px;
    border: 1px solid #00000069;
    align-self: center;
}

/* table-2 */
.table-2{
    width: 921px;
    height: 58px;
    top: 2037px;
    left: 661px;
    border-radius: 14px 14px 0px 0px;
    background: #1A73E859;
    position: absolute;
    display: flex;
}

.head-1{
    width: 227.44px;
    height: 24px;
    top: 2051px;
    left: 688px;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #1350A0;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 240px;
}

.head-2{
    width: 153.3px;
    height: 48px;
    top: 2039.5px;
    left: 1212px;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #1350A0;
    margin-top: 20px;
}

.head-3{
    width: 153.3px;
    height: 48px;
    top: 2040.5px;
    left: 1402px;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #1350A0;
    margin-top: 20px;
    margin-left: 80px;
}

.cap{
    width: 24.05px;
    height: 18px;
    top: 2129px;
    left: 688px;
}

.table-body-2{
    width: 921px;
    height: 503px;
    top: 2094px;
    left: 661px;
    border-radius: 0px 0px 14px 14px;
    background: #EBF3FF59;
    box-shadow: 0px 4px 29.3px 0px #3C3C3C26;
    position: absolute;
}

.body-1{
    width: 350px;
    height: 48px;
    top: 2125px;
    left: 725px;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #3C4852;
}

.flex-1{
    display: flex;
    gap: 20px;
    margin-top: 18px;
    margin-left: 10px;
}

.hor-line{
    width: 551px;
    top: 2037px;
    left: 1187px;
    border: 2px solid #00000038;
    rotate: 90deg;
    margin-left: 180px;
    margin-top: -240px;
}

.hor-line-1{
    width: 552px;
    top: 2037px;
    left: 1389px;
    border: 2px solid #00000038;
    rotate: 90deg;
    margin-left: 420px;
}

.te-1{
    width: 59.07px;
    height: 24px;
    top: 2138px;
    left: 1254px;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #3C4852;
    white-space: nowrap;
}

.table-body-3{
    margin-left: 540px;
    display: flex;
    flex-direction: column;
    gap: 44px;
    margin-top: -210px;
}

.table-body-4{
    margin-left: 780px;
    display: flex;
    flex-direction: column;
    gap: 44px;
    margin-top: -430px;
}

.showmore{
    width: 174.66px;
    height: 41px;
    top: 2632px;
    left: 1407px;
    position: absolute;
    cursor: pointer;
}

.btn-6{
    width: 236px;
    height: 64px;
    top: 2698px;
    left: 842px;
    padding: 20px 68px 20px 69px;
    border-radius: 8px;
    position: absolute;
    background: #1A73E8;
    color: white;
    font-family: "Source Sans Pro",sans-serif;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.te-2{
    width: 378.97px;
    height: 36px;
    top: 2939px;
    left: 798px;
    font-family: "Inter",sans-serif;
    font-size: 27.66px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    position: absolute;
}

.te-3{
    font-family: "Inter",sans-serif;
    font-size: 27.66px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    color: #1A73E8;
}

.te-4{
    width: 259px;
    height: 48px;
    top: 3037px;
    left: 347px;
    position: absolute;
    border-radius: 7px;
    border: 2px solid #E2E8F0;
    box-shadow: 0px 2px 26.6px 0px #0000002E;
    background: #FFFFFF;
    font-family: "Inter",sans-serif;
    font-size: 16.59px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    color: #1A73E8;
    padding-top: 20px;
    cursor: pointer;
}

.te-5{
    font-family: "Inter",sans-serif;
    font-size: 16.73px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    color: #737373;
    width: 259px;
    height: 48px;
    top: 3124px;
    left: 347px;
    border-radius: 7px;
    border: 2px;
    border: 2px solid #737373;
    position: absolute;
    padding-top: 20px;
    cursor: pointer;
}

.te-6{
    font-family: "Inter",sans-serif;
    position: absolute;
    font-size: 17.02px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    color: #737373;
    width: 261px;
    height: 48px;
    padding-top: 20px;
    top: 3212px;
    left: 347px;
    border-radius: 7px;
    border: 2px;
    border: 2px solid #737373;
    cursor: pointer;
}

.te-7{
    font-family: "Inter",sans-serif;
    font-size: 16.88px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: #1A73E8;
    width: 872.09px;
    height: 28px;
    top: 3032px;
    left: 709.59px;
    padding: 20px 0px 20px 8px;
    position: absolute;
    white-space: nowrap;
}

.arw-top{
    color: #0000008A;
    margin-left: 20px;
    font-weight: bold;
}

.te-8{
    font-family: "Inter",sans-serif;
    font-size: 15.13px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    width: 872.75px;
    height: 48px;
    position: absolute;
    width: 886.41px;
    height: 48px;
    top: 3108px;
    left: 725.59px;
    padding: 0px 13.66px 0px 0px;
    color: #000000DE;
}

.te-9{
    width: 770.36px;
    height: 68px;
    top: 3172px;
    left: 709.59px;
    padding: 20px 0px 20px 8px;
    position: absolute;
    font-family: Inter;
    font-size: 16.73px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: #000000DE;
}

.te-10{
    margin-left: 350px;
}

.article1{
    width: 1360px;
    height: 210px;
    top: 3415px;
    left: 280px;
    border-radius: 12px;
    position: absolute;
}

.footer1{
    width:  1920px;
    height: 795.88px;
    top: 3745px;
    position: absolute;
    left: 0px;
}

.icon-call{
    width: Hug (96px)px;
    height: Fixed (216px)px;
    top: 4188.87px;
    left: 1803px;
    padding: 138px 18px 18px 18px;
    position: absolute;
}